
#main-wrapper{
	width:500px;
	margin: 0 auto;
	background:white;
	padding:5px;
}
.myform{
	width:470px;
	margin:0 auto;
}
.inputvalues{
	width:420px;
	margin:0 auto;
	padding:5px;
	margin-top:5px;
}
#login_btn{
	margin-top:10px;
	margin-bottom:20px;
	background-color:#2ecc71;
	padding:5px;
	color:white;
	width:434px;
	text-align:center;
	font-size:15px;
	font-weight:bold;
}
#register_btn{
	margin-top:10px;
	margin-bottom:20px;
	background-color:#1abc9c;
	padding:5px;
	color:white;
	width:400px;
	text-align:center;
	font-size:15px;
	font-weight:bold;
}
#signup_btn{
	margin-top:10px;
	background-color:#1abc9c;
	padding:5px;
	color:white;
	width:400px;
	text-align:center;
	font-size:15px;
	font-weight:bold;
}
#back_btn{
	margin-top:10px;
	background-color:#c0392b;
	padding:5px;
	color:white;
	width:70px;
	font-size:15px;
	font-weight:bold;
}
#logout_btn{
	margin-top:10px;
	background-color:#c0392b;
	padding:5px;
	color:white;
	width:100%;
	text-align:center;
	font-size:15px;
	font-weight:bold;
	margin-bottom:20px;
}
#ask_btn{
	margin-top:10px;
	margin-bottom:20px;
	background-color:#27ae60;
	padding:5px;
	color:white;
	width:434px;
	text-align:center;
	font-size:15px;
	font-weight:bold;
}
#answer_btn{
	margin-top:10px;
	margin-bottom:20px;
	background-color:#27ae60;
	padding:5px;
	color:white;
	width:434px;
	text-align:center;
	font-size:15px;
	font-weight:bold;
}
#Submit_btn{
	margin-top:10px;
	margin-bottom:20px;
	background-color:#2980b9;
	padding:5px;
	color:white;
	width:434px;
	text-align:center;
	font-size:15px;
	font-weight:bold;
	
}